################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mIRCGfx
/.vshistory
/x64/Debug
/Debug
/Release
/x64/Release
/Script/.vshistory/mIRCGfx.mrc
